*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/misc.xml
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.openCVLibrary300
.idea/vcs.xml
openCVLibrary300/build/generated/assets/
openCVLibrary300/build/generated/res/
openCVLibrary300/build/generated/source/aidl/androidTest/
openCVLibrary300/build/generated/source/rs/
openCVLibrary300/build/intermediates/bundles/debug/aidl/
openCVLibrary300/build/intermediates/bundles/debug/assets/
openCVLibrary300/build/intermediates/bundles/release/aidl/
openCVLibrary300/build/intermediates/bundles/release/assets/
openCVLibrary300/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
openCVLibrary300/build/intermediates/incremental/packageDebugAndroidTest/
openCVLibrary300/build/intermediates/incremental/packageDebugResources/aapt-temp/
openCVLibrary300/build/intermediates/incremental/packageReleaseResources/aapt-temp/
openCVLibrary300/build/intermediates/incremental/processDebugAndroidTestResources/
openCVLibrary300/build/intermediates/incremental/processDebugResources/
openCVLibrary300/build/intermediates/lint/
openCVLibrary300/build/intermediates/manifest/tmp/
openCVLibrary300/build/intermediates/rs/
openCVLibrary300/build/intermediates/shaders/
app/libs/
app/src/main/res/drawable/
openCVLibrary300/build/generated/source/apt/
openCVLibrary300/build/intermediates/bundles/release/jni/
openCVLibrary300/build/intermediates/bundles/release/libs/
openCVLibrary300/build/intermediates/dependency-cache/
openCVLibrary300/build/intermediates/incremental/processReleaseResources/
openCVLibrary300/build/intermediates/jniLibs/
openCVLibrary300/build/intermediates/transforms/
openCVLibrary300/build/tmp/
